.cards {
  display: grid;
  margin: 16px var(--side-margin);
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 24px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  width: 100%;
  border-radius: 12px;
}

.no-cards {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 80px;
}
