.cart-container {
  margin: 60px var(--side-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
}

th {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 10px;
}

td {
  vertical-align: top;
  padding: 16px 36px;
  border-top: 1px solid #e5e5e5;
  font-size: 1.125rem;
}

td:nth-child(3),
td:nth-child(5) {
  text-align: center;
}

.item-col {
  width: auto;
}

.description-col {
  width: 400px;
}

.price-col,
.total-col {
  width: 200px;
}

.quantity-col {
  width: 240px;
}

.cart-card {
  border-radius: 6px;
}

.cart-name {
  font-weight: 600;
  margin-bottom: 8px;
}

.subtotal-title {
  text-align: right;
  font-weight: 600;
  font-size: 1.25rem;
}

.subtotal {
  font-weight: 600;
  font-size: 1.25rem;
}

.checkout {
  background-color: var(--mythic-orange);
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 36px;
  margin-top: 16px;
}

.checkout:hover {
  background-color: #c43a1f;
}