.filter-container {
  display: flex;
  gap: 24px;
  display: flex;
  flex-direction: column;
  margin: auto var(--side-margin);
}

.search-container {
  align-self: center;
  display: flex;
  gap: 24px;
}

#search-bar {
  width: 500px;
  border: 2px solid #e5e5e5;
  border-radius: 36px;
  padding: 12px 24px;
  font-size: 1.25rem;
}

#search-bar:focus {
  outline: none;
}

.reset {
  font-size: 1.25rem;
  font-weight: 600;
  /* background-color: var(--mythic-orange); */
  /* color: white; */
  /* border-radius: 36px; */
  background-color: white;
  color: black;
  border: 4px solid black;
  padding: 0px 12px;
}

.reset:hover {
  /* background-color: #c43a1f; */
  background-color: black;
  color: white;
}

.filters {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.symbol-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  gap: 10px;
}

.divider {
  width: 2px;
  height: 67px;
  background-color: #e5e5e5;
  align-self: flex-start;
}

.colors,
.mana-values,
.types,
.rarities {
  display: flex;
  gap: 12px;
}

.types {
  position: relative;
  top: -5px;
}

.symbol {
  height: 36px;
}

.selected {
  outline: 3px solid rgb(0, 0, 0);
}

.planeswalker-symbol {
  position: relative;
  top: -3px;
  height: 47px;
}

.rarity {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.mythic {
  background-color: var(--mythic-orange);
}

.rare {
  background-color: #ddc076;
}

.uncommon {
  background-color: #aed2de;
}

.common {
  background-color: black;
}
