.filter-container {
  display: flex;
  gap: 32px;
  display: flex;
  flex-direction: column;
  margin: auto var(--side-margin);
}

.search-container {
  align-self: center;
  display: flex;
  gap: 24px;
}

#search-bar {
  width: 400px;
  border: 2px solid #e5e5e5;
  border-radius: 12px;
  padding: 12px;
  padding-left: 48px;
  font-size: 1.5rem;
  font-weight: 400;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 6px center;
}

#search-bar:focus {
  outline: none;
}

.reset {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 8px 16px;
  border-radius: 12px;
}

.reset:hover {
  background-color: black;
  color: white;
}

.filters {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.symbol-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  gap: 10px;
}

.divider {
  width: 2px;
  height: 67px;
  background-color: #e5e5e5;
  align-self: flex-start;
}

.colors,
.mana-values,
.card-types,
.rarities {
  display: flex;
  gap: 12px;
}

.card-types {
  position: relative;
  top: -5px;
}

.symbol {
  height: 36px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

#Planeswalker.symbol {
  position: relative;
  top: -3px;
  height: 47px;
  padding-bottom: 1px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.rarity {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.rarity-container {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.selected,
.symbol:hover,
#Planeswalker.symbol:hover,
.rarity-container:hover {
  border-bottom: 3px solid black;
  transition: border-bottom 0.25s ease-in-out;
}

.mythic.rarity {
  background-color: var(--mythic-orange);
}

.rare.rarity {
  background-color: #ddc076;
}

.uncommon.rarity {
  background-color: #aed2de;
}

.common.rarity {
  background-color: black;
}
