/* Removes input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes input arrows from Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
  align-items: center;
}

.price {
  font-weight: 500;
  font-size: 1.25rem;
}

.quantity-adjuster {
  border: 3px solid black;
  display: flex;
}

.quantity {
  width: 26px;
  border: none;
  padding: 4px 7px;
  font-size: 1rem;
}

.quantity:focus {
  outline: none;
}

.plus-minus {
  font-weight: 700;
  padding: 6px 17px;
  background-color: rgb(212, 212, 212);
  font-size: 1.25rem;
}

.plus-minus:hover {
  background-color: rgb(163, 163, 163);
}

.add {
  border: 3px solid black;
  padding: 8px 12px;
  font-weight: 700;
}

.add:hover {
  background-color: black;
  color: white;
}
